@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span {
  color: #4FFFB0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

.container {
  margin: auto;
  height: 100%;
  position: relative;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url('../pages/assets/minthero-bg.png') no-repeat center center/cover;
  background-size: cover;
}

.hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-left: 6rem;
}

.hero h1 {
    color: #f8f8f8;
    font-size: 3.5rem;
    font-weight: 900;
}

.hero .blue {
    color: #4FFFB0;
}

.navbar {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 10;
}

.navbar .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .logo {
  display: flex;
  position: absolute;
  align-items: center;
  color: #fff;
  left: 6%;
}

.navbar .logo .icon {
  font-size: 3rem;
  margin-right: 1rem;
  color: #4FFFB0;
}

.mintlogo {
  padding: 5px;
}

.hamburger {
  visibility: hidden;
  display: block;
  padding: 1rem;
}

.navbar .nav-menu {
  height: 100%;
  align-items: center;
  display: flex;
  padding: 1rem;
  padding-right: 0rem;
}

.navbar li {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}

.navbar .icon {
  font-size: 1.4rem;
  color: #fff;
}

.generator {
  width: 100%;
  height: 100vh;
  position: relative;
}

.generator:before {
  content: '';
  position: absolute;
  background: url('../pages/assets/generate-bg.png') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-size: cover;
}

.generator .container {
  word-wrap: break-word;
  margin-right: 7.5rem;
}

.generator .content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
  top: 25%;
  left: 60%;
  width: 50%;
}

.content p {
  max-width: 38rem;
  color:#0F054C;
  margin-bottom: 1rem;
  font-size: 1.35rem;
  font-weight: 500;
}

.generator h1 {
  font-size: 4.5rem;
  font-weight: 900;
  color: #0F054C;
  margin-top: 1.25rem;
}

button {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  padding: .7rem 1.5rem;
  margin: 1rem 0;
  background-color: #4FFFB0;
  border: 2.5px solid #4FFFB0;
  color: #0F054C;
  font-size: 1.4rem;
  width: fit-content;
  font-weight: 500;
  border-radius: 22px;
}

button:hover {
  background: none;
  color: rgb(79, 255, 176);
}

.generator .button {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  padding: .7rem 1.5rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  width: fit-content;
  font-weight: 500;
  border-radius: 22px;
  background: rgb(79,255,176);
  background: linear-gradient(147deg, rgba(9,9,121,1) 0%, rgba(79,255,176,1) 100%);
  color: white;
  border: none;
}

.generator .button:hover {
  background: rgb(123, 255, 195);
  background: linear-gradient(147deg, rgb(56, 56, 151) 0%, rgb(123, 255, 195) 100%);
}

.mint-btn {
  margin-left: 14.5rem;
}

.generator input {
  border: solid 2px #4FFFB0;
  text-align: center;
  color: #0F054C;
  border-radius: 12px;
  font-size: 1.4rem;
  background: rgba(123, 255, 195, .35);
}

.generator input::placeholder {
  color: #0F054C;
  opacity: .6;
}

.generator input:hover {
  background: rgba(134, 255, 201, .25);
}

.generator input:focus {
  background: rgba(134, 255, 201, .25);
  outline: none !important;
  caret-color: #4FFFB0;
}

.generator input:focus::placeholder {
  visibility: hidden;
}


.hero .hollow {
  background: none;
  color: #4FFFB0;
}

.two-button {
  max-width: 16rem;
  justify-content: space-between;
  display: inline-flex;
  padding: 0;
}

.generator .two-button {
  max-width: 36rem;
  justify-content: space-around;
  margin-left: 4rem;
}

.float-left {
  margin-left: 0 !important;
  float: left;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

.info {
  width: 100%;
  height: 100vh;
  position: relative;
  /*
  background: rgba(0, 0, 0, .3);
  */
}

.info:before {
  content: '';
  position: absolute;
  background: url('../pages/assets/recovery-bg.png') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.info .content {
  position: absolute;
  left: 0;
  top: 30%;
  width: 50%;
  padding: 1rem;
}

.info h2 {
  color: #f8f8f8;
}

.info p {
  color: #f8f8f8;
  margin: 1rem 0;
}

.footer {
  width: 100%;
  height: 45vh;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
}

.footer:before {
  content:'';
  position: absolute;
  background: url('../pages/assets/footer-bg.jpg')no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .top {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.footer .top .logo-footer {
  display: flex;
  align-items: center;
}

.footer .top .icon {
  font-size: 3rem;
  margin-right: 1rem;
  color: #4FFFB0;
  cursor: pointer;
}

.footer h2 {
  font-size: 2rem;
}

.footer .col-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  padding: 1rem;
  width: 100%;
}

.footer h3 {
  margin: 1rem 0 2rem 0;
  text-transform: uppercase;
}

.footer p {
  margin: .5rem 0;
}

.footer form {
  width: 100%;
  margin-bottom: .6rem;
  position: relative;
}

.footer form input {
  padding: 1rem;
  width: 100%;
  background: none;
  outline: none;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #333;
}

.footer form input:focus {
  color: #333;
  outline: #4FFFB0;
  box-shadow: 0 0 8px 0 #0F054C;
}

.footer form .social-group{
  display: flex;
  flex-direction: row;
}

.footer form .mail-icon {
  position: absolute;
  font-size: 1.4rem;
  margin: 1rem;
  right: .2rem;
  color: #aaa;
  cursor: pointer;
}

.footer form .social-icon {
  margin: 1rem 1rem 1rem 0;
  padding: .6rem;
  background-color: #0d2154;
  border-radius: 4px;
  color: #f8f8f8;
  font-size: 3rem;
}

@media screen and (max-width: 1300px) {
  .generator h1 {
    font-size: 3.7rem;
  }
}

@media screen and (max-width: 1022px) {
  .generator h1 {
    font-size: 3.0rem;
  }
}

@media screen and (max-height: 940px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .info .content {
    left: 0;
    width: 100%;
  }

  .footer {
    height: 100%;
  }

}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .navbar {
    background-color: rgba(0, 0, 0, .7);
  }

  .navbar .hamburger {
    visibility: visible;
    display: block;
    z-index: 15;
  }

  .navbar .nav-menu {
      position: absolute;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      top: 0;
      left:-100%;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, .9);
      transition: 0.5s ease-in;
  }
  
  .navbar .logo {
    position: absolute;
    align-items: center;
    color: #fff;
    padding: 1rem;
  }
  .navbar .active {
      left: 0;
  }

  .navbar li {
      margin-right: 1rem;
      font-size: 2rem;
  }

  .navbar button {
      font-size: 1.8rem;
  }

  .hero .container {
    justify-content: center;
    align-items: center;
  }

  .hero .content {
    margin: 2%;
    width: 96vw;
    height: 50vh;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
  }

  .generator .content {
    left: 0;
    width:100%;
    padding: 1rem;
    background: rgba(255, 255, 255, .65);
  }

  .info .content {
    left: 0;
    width: 100%;
  }

  .footer {
    height: 100%;
  }

  .footer .col-container {
    grid-template-columns: 2fr 2fr;
  }

  .footer form {
    grid-column: 1 / span 2;
  }
}